<div class="oj-hybrid-padding">
  <h1 class="form-title">Login Credentials</h1>
  <div class="form-group">
    <oj-c-input-text id="text-input" value="{{firstname}}" label-hint="Enter Username"
      label-edge="inside"></oj-c-input-text>

    <oj-input-password id="password" value="{{value}}" label-hint="Enter Password"
      mask-icon="visible"></oj-input-password>

      <div>
        <oj-button id="button1" class="button1" data-bind="click: handleLogin">Submit</oj-button>
      </div>
  </div>
</div>
